@import url("../../../common/common.scss");

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .card-container {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        .card {
            width: 40%;
            height: fit-content;
            border-radius: 10px;
            box-shadow: 5px 10px #0000001c;
            .card-header {
                height: fit-content;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .card-tab {
                    width: 49%;
                    height: 50px;
                    display: flex;
                    color: #000000;
                    font-size: 18px;
                    justify-content: center;
                    align-items: center;
                    font-weight: bolder;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        background-color: #0000009c;
                        color: #ffffffff;
                        box-shadow: 0px 10px #0000001c;
                        transition: all 0.1s ease-in;
                    }
                    &:first-child {
                        border-radius: 10px 0 0 10px;
                    }
                    &:last-child {
                        border-radius: 0 10px 10px 0;
                    }
                    &.active {
                        background-color: #000000;
                        color: #ffffffff;
                        box-shadow: 0px 10px #0000001c;
                    }
                }
            }
            .card-body {
                padding: 16px;
                &.change {
                    opacity: 0;
                }
                color: #ffffff;
                text-align: center;
        
                -webkit-transition: opacity .5s ease-in-out;
                -moz-transition: opacity .5s ease-in-out;
                -ms-transition: opacity .5s ease-in-out;
                -o-transition: opacity .5s ease-in-out;
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .login-container {
        .card-container {
            .card {
                width: 80%;
                .card-header {
                    .card-tab {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
