@import url('../../../common/common.scss');

.intro-container {
  display: flex;
  width: 100%;
  height: 100%;
  // height: 90vh;
  position: relative;
  .img-banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .banner {
    padding: 20px;
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: end;
    width: inherit;
    height: inherit;
    align-items: center;
    .info-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      width: 40%;
      background-color: var(--back-color-banner);
      border-radius: 20px;
      .header {
        font-size: 7rem;
        color: #000000;
      }
      .small {
        font-size: 4rem;
        color: #000000;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .intro-container {
    carousel {
      z-index: 0 !important;
      height: 200px !important;
    }
    .info-container {
      position: absolute;
      top: 35%;
      left: 49%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      .header {
        font-size: 2rem;
        color: #ffffff;
      }
      .small {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .intro-container {
    .info-container {
      position: absolute;
      top: 35%;
      left: 49%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      .header {
        font-size: 3rem;
        color: #ffffff;
      }
      .small {
        font-size: 2rem;
        color: #ffffff;
      }
    }
  }
}
